<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss.SSS} [%level] [%logger] [%thread] %msg%ex%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.teragrep" level="info" additivity="true">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name ="com.azure.core" level="error" additivity="true">
            <appender-ref ref="console"/>
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="console"/>
        </Root>
    </Loggers>
</Configuration>
